<!DOCTYPE html>
<html>
  <head>
    <title>Liste de crypto-monnaies</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>Liste de crypto-monnaies</h1>
    </header>
    <main>
        <form action="/" method="POST">
            <label for="Yourhash">Entrez votre valeur de hash :</label>
            <input type="text" id="Yourhash" name="Yourhash">
            <input type="submit" value="Envoyer">
        </form>
        <table>
            <thead>
                <tr>
                    <th>Coin</th>
                    <th>Ratio</th>
                </tr>
            </thead>
            <tbody>
                {% for coin, ratio in data %}
                <tr>
                    <td>{{ coin }}</td>
                    <td>{{ ratio }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
  </body>
</html>



